.pakam-icon-1 {
    width: 37px;
    position: relative;
    height: 42.69px;
    object-fit: cover;
}

.pakam {
    position: relative;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.logo {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-account {
    position: relative;
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 38px;
    font-family: Raleway;
    color: #222d33;
}

.logo-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first-name {
    position: relative;
    letter-spacing: 0.25px;
    line-height: 22px;
    font-weight: 500;
}

.first-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.enter-your-first {
    width: 359px;
    position: relative;
    letter-spacing: 0.75px;
    line-height: 28px;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
    opacity: 0.7;
}

.keyboard-arrow-down-1-2 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.input1 {
    width: 420px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 17px;
    gap: 10px;
    font-size: 16px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.enter-your-last {
    width: 352px;
    position: relative;
    letter-spacing: 0.75px;
    line-height: 28px;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
    opacity: 0.7;
}

.inputoutlinestatusproperty-icon {
    width: 24px;
    position: relative;
    height: 24px;
}

.input3 {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 17px;
    gap: 10px;
    font-size: 16px;
}

.must-be-8 {
    width: 369px;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 22px;
    color: #c2c2c2;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
}

.input-parent {
    width: 885px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 41px;
}

.frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.rectangle-icon {
    width: 420px;
    position: relative;
    border-radius: 12px;
    height: 50px;
    display: none;
}

.label {
    flex: 1;
    position: relative;
    line-height: 22px;
    font-weight: 600;
}

.normal {
    width: 420px;
    border-radius: 12px;
    background-color: #005700;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 0px;
    box-sizing: border-box;
    gap: 10px;
    opacity: 0.5;
}

.forgot-password {
    position: relative;
    letter-spacing: 0.25px;
    line-height: 16px;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.retrieve-now-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #005700;
}

.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    color: #464f54;
}

.normal-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 66px;
    font-size: 14px;
    color: #222d33;
    font-family: Raleway;
}

.frame-parent {
    height: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.overlay-inner {
    position: absolute;
    top: calc(50% - 375px);
    left: calc(50% - 470px);
    border-radius: 15px;
    background-color: #fff;
    width: 940px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 52px;
    box-sizing: border-box;
}

.overlay {
    width: 100%;
    position: relative;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #005700;
    font-family: Roboto;
}

body {
    margin: 0;
    line-height: normal;
}